<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 2 years of experience as a software engineer. 
            My expertise is Machine Learning, Deep Learning and Natural Language Processing.
        </p>
        <p>
           I used to spend 7 years of learning material science, and I'm  lucky that I took the best education from top univeristy in China.
           I enjoy the konwledge and experience during my past education, working on engineering problem is always interesting. It teach me 
           how to construct an experiment: not only solid theory, but also taking care of all the unforeseen circumstancel, and carefully design.
        </p>
        <p>
           Now it's time for my career to develop to another stage: working on more strict but more innovative things: the new big change-
           artificial intelligence. First time I got glance of machine learning, I was fascinated by its huge power - just hundreds lines of code,
           one can build up a recommendation system. Or thousands lines of code, I can build a Question Answering System.
           Interests always followed by challenges. When I was working on real life tasks, I faces problem such as lacking data, unbalanced data. 
           By applying advanced techniques such as transfer learning, or ingenious design, I shot those problem!!
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Integrated and developed Question Answering System for consumer services, via attention based semantic matching framework. Combined transfer learning, VAE, and synonyms replacement for knowledge transfer, and increased acc from 76% to 92%. Incorporate Fasttext for topic classification and samples balancing, and increased recall from 66% to 89%.
    			</li>
          <li>
            Increased information retrieval recall by 8% and speeded up the process 1.5 times faster, by constructing a tree based data structure that is implemented with backtracking mechanism using lxml library.
          </li>
          <li>
            Develop the first Chinese Multi-sentiment analysis module that can recognize up to 7 different emotions.
    			</li>
          <li>
            Lead a student renovation project and owned the only national level reward among all 21 groups.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
