<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I take an deep reinforcement learning course hold by computer science department. I also follow the latest progress from blog and paper.
			  </li>
			  <li>
				  <b>NLP</b> I love NLP, just as I love my girl friend and her major-language. My internship in Summer 2018 is about building Question and Answer machine. I'm also fascinated with Machine Reading, and Knowledge Graph.
			  </li>
			  <li>
				  <b>Football</b>. I've been an enthusiastic hobbiest since I was a teenager. I'm a crazy fun of Juventus- the greatest Italian football club. I used to played a lot in campus, and loved to analyzed strategy.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Question Answering System: Integrated and developed Question Answering System for consumer services, via attention based semantic matching framework. Combined transfer learning, VAE, and synonyms replacement for knowledge transfer, and increased acc from 58% to 86%. Incorporate Fasttext for topic classification and samples balancing, and increased recall from 86% to 92%.
    		</li>
  			<li>
          Mulit-sentiment Analysis :Carried out unsupervised multi-sentiment classification module, via dictionary and rule based framework.Justified auto-labeled data manually and built a RCNN classifier to figure out different emotion, including happy, hate, surprise, etc.
  			</li>
        <li>
          Weizhong Bank Semantic Matching Challenge: Carried out semantic matching analysis on Weizhong Bank dataset, via comparison of different attention based models. Improved the system through integration of character& word level embedding, vector arithmetic operators, and self-attention.
        </li>
        <li>
          S&P 500 Prediction Course Project:Utilized LSTM model to predict Jan.– May. 2018 S&P500 stock price based on historical information. Incorporated polynomial interpolation method for data smoothing.
        </li>
  		</ul>
      </div>
    </div>
  </div>
</section>
