<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for deep learning. I take an deep reinforcement learning course hold by computer science department. I also follow the latest progress from blog and paper.
			  </li>
			  <li>
				  <b>NLP</b> I love NLP, just as I love my girl friend and her major-language. My internship in Summer 2018 is about building Question and Answer machine. I'm also fascinated with Machine Reading, and Knowledge Graph.
			  </li>
			  <li>
				  <b>Football</b>. I've been an enthusiastic hobbiest since I was a teenager. I'm a crazy fun of Juventus- the greatest Italian football club. I used to played a lot in campus, and loved to analyzed strategy.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
        <l1>
          Knowledge Graph based Question Answering System: used deep learning method for the embeding of Knowledge Graph, and  further embeded questions with Knowledge Graph information.
        </l1>
        <l1>
          Built topic and paragraph recognizer API for extracting business risk factor from 10,000 financial reports form, by up-bottom information collector, that includes HTML tags, attributes of different level.
        </l1>
  			<li>
          Node2Vec based recommendation System: Transform Source data into Adjacency matrix, and utilized node2vec library to help building a graph based recommendation system, which introduces social network information as well as semantic meaning. 
  			</li>
        <li>
          Weizhong Bank Semantic Matching Challenge: Carried out semantic matching analysis on Weizhong Bank dataset, via comparison of different attention based models. Improved the system through integration of character& word level embedding, vector arithmetic operators, and self-attention.
        </li>
  		</ul>
      </div>
    </div>
  </div>
</section>
